<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<div class="container my-5">
  <div class="row align-items-start g-5">
    <div class="col-12 col-md-6 text-center">
      {% if producto.img_producto %}
      <img
        src="{{ producto.img_producto.url }}"
        class="img-fluid"
        style="max-height: 500px; object-fit: contain"
        alt="{{ producto.nombre_producto }}"
      />
      {% endif %}
    </div>

    <div class="col-12 col-md-6">
      <h2 class="fw-bold mb-2">{{ producto.nombre_producto }}</h2>

      <p class="text-muted mb-3">{{ producto.descripcion_producto }}</p>

      <h4 class="fw-bold mb-4">$ {{ producto.precio_producto }}</h4>

      <a
        href="{% url 'agregar_carrito' producto.id %}"
        class="btn btn-dark w-100 py-3 rounded-pill mb-3"
        style="font-size: 1.1rem"
      >
        Agregar al carrito 🛒
      </a>

      <a
        href="{% url 'tienda' %}"
        class="btn btn-outline-secondary w-100 py-2 rounded-pill"
      >
        ⬅ Volver a la tienda
      </a>
    </div>
  </div>
</div>
